# Automatically request review for PRs
* @SitiSchu

# Include Andrei Jiroh in reviewing PRs in documentation files
docs/* @AndreiJirohHaliliDev2006 @SitiSchu
docs/*/* @AndreiJirohHaliliDev2006 @SitiSchu
